 <footer>
           <div id ="bottom">
            <p>
              <a href ="">&copy; CCI CONNECTIONS.</a>
              <a href="/about">ABOUT</a>
              <a href="/contact">CONTACT</a>
            </p>
        </div>
  </footer>