<header>
        	<a href="/"><IMG SRC="assets/images/uncc.jpg" ALT="some text" WIDTH=60 HEIGHT=30>
        	<div id ="top">
            <p>
            	<a href="/newConnection">Start a new connection</a>
            	<a href="/login">Login</a>
            	<a href="/savedconnections">Sign Up</a>
            </p>
        </div>
        </header>