<header>
        	<a href="/"><IMG SRC="assets/images/uncc.jpg" ALT="some text" WIDTH=60 HEIGHT=30>
        	<div id ="top">
            <p>
            	<a href="/newConnection">Start new connection</a>
            	<a href="/savedconnection">Connects</a>
            	<a href="/logout">LogOut</a>
            </p>
        </div>
        </header>