<!--  <td>ITSC 1213 -Working with Netbeans</td>
        <td>Study</td>
        <td>Yes</td>
        <td><button class="editbtn" onclick="location.href='/connection';">UPDATE</button></td>
        <td><button class="editbtn" onclick="location.href='/savedconnections';">DELETE</button></td>
      </tr>
      <tr>
        <td>Disc Golf</td>
        <td>Sports</td>
        <td>Maybe</td>
        <td><button class="editbtn" onclick="location.href='/connection';">UPDATE</button></td>
       <td><button class="editbtn" onclick="location.href='/savedconnections';">DELETE</button></td>
      </tr>
    </table> -->
   <!--  <td><a href="/item?connection_ID=<%= data[j].connection.connection_ID %>"><%= data[j].connection.connection_name %></a></td>
                    <td><%= data[j].connection.connection_topic %></td>
                    <td><%= data[j].rsvp %></td>
                    <td><form action="changes" method="POST">
                      <input type="hidden" name="connectioncode" value="<%= data[j].connection.connection_ID %>">
                      <button type="submit" class="button" name="action" value="Updateprofile">Update</button>
                    </form></td>
                    <td><form action="changes" method="POST">
                      <input type="hidden" name="connectioncode" value="<%= data[j].connection.connection_ID %>">
                      <button type="submit" class="button" name="action" value="delete">Delete</button>
                    </form></td> -->
   