
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Title</title>
        <link rel="stylesheet" type="text/css" href="assets/main.css">
    </head>
    <body>
    	<div id ="wrapper">
      
      <section>
        <h3 id = "main-title"><%= data.connection.connection_name %>
          
        </h3>
      </section>
      <aside>
         <h3>Details</h3>
         <!-- <b>I'm new to this Netbeans and would</b><br/> 
        <b>love to connect  with others to</b><br/>
        <b>explore this IDE and learn</b><br/> -->
        <br><%- data.connection.details %><br/>
      </aside>
      <section>
      	<img id = "user_image" src="/assets/images/supermario.jpg">
        <div class ="event-right">
        <b>Hosted by <%= data.connection.hosted_by %>
        </b><br/> 

        <b><%= data.connection.date %>
        </b><br/>

     

        <b><%= data.connection.location %></b><br/>
      </div>
     <div class ="button-right">
      <a href="/savedconnections" class="button green">Yes</a>
      <a href="/savedconnections" class="button blue">No</a>
      <a href="/savedconnections" class="button gray">Maybe</a>
    </div> 	
      </section>
      <div id=user-right-info>
        <h4>Are you going?3 people are going.</h4>
      </div>
             

    </div>
    </body>
</html>
