<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>About</title>
<link rel="icon" type="image/jpg" href="/images/logo.jpg" />
<link rel="stylesheet" type="text/css" href="assets/main.css" >
</head>
<body>
  <div id ="wrapper">
    
 

   <div id = "mains">
    	<article>
      	<h2 class="about">
      	Contact
      	</h2>
    	</article>

    	<article>
      	<h3>
      	CONTACT US<br>
        ADDRESS:- 9201 University City Blvd,NC 28223<br>
        Phn :- 980234781<br>
        </h3>
      </article>

    </div>



</div>
</body>
</html>
