<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="The Title">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/main.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="page-container">
       <% if(session == 1){ %>
       <% include partials/connection_log.ejs %>
         <% include partials/navigation_log.ejs %>
      
 <% } else{ %>  
   <% include partials/header.ejs %>
        <% include partials/navigation.ejs %>
        <% } %>
        <section>

        <form>
       
            <p>
              <label for="topic">
                <span>topic: </span>
              </label>
              <input type="text" id="topic" name="topic" placeholder="topic">
            </p>
            <p>
              <label for="name">
                <span>name: </span>
              </label>
              <input type="text" id="name" name="name" placeholder="name">
            </p>

                  <p>
              <label for="details">
                <span>details: </span>
              </label>
            <textarea placeholder="details" id = "details"></textarea>
            </p>

                <p>
              <label for="where">
                <span>where: </span>
              </label>
              <input type="text" id="where" name="where" placeholder="where">
            </p>
                <p>
              <label for="when">
                <span>when: </span>
              </label>
              <input id="when" type="datetime-local"/>
            </p>
                <p> <button type="submit">create connection</button> </p>
       
    </form>
        </section>
<% include partials/footer.ejs %>
    </div>
</body>

</html>